
html{
    overflow: hidden;
}

@font-face {
    font-family:"TitleFont";
    src: url("./Fonts/AlegreyaSansSC-Medium.ttf");
}

body {

    padding: 0px;
    margin: 0px;
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 90vw;
    color: white;
    font-family: "TitleFont";
}

.canvas {
    padding: 0;
    max-width: 70%;
}

#canvas {

    border: solid 5px white;
    background-image: url('Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    box-shadow: 1px -2px 79px -2px rgba(0, 0, 0, 0.72);
    -webkit-box-shadow: 1px -2px 79px -2px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 1px -2px 79px -2px rgba(0, 0, 0, 0.72);
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.head-img {
    margin-left: 100px;
    width: 250px;

}

.head-flower {
    margin-right: 150px;
    width: 210px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.buttons {
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15%;
    margin-right: 40px;

}

.btn {
    margin-bottom: 20px;
}

#start-button{
    padding-right: 20px;
    padding-left: 20px;
}

.controllers {
    max-width: 15%;

}

.canvas-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 150px;
}

.btn-primary {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: black;
}

.modal-body {
    text-align: center;
    color: black;
}

.modal-title{
    margin-left: 180px;
    color: black;
    text-align: center;
}
.clover {
    width: 40px;
}

.acorn {
    width: 40px;
}

.btn-secondary {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

.modal-cuphead {
    width: 450px;
}

.modal-footer {
    display: flex;
    justify-content: center
}

.controlles-img{
    margin-left: 30px;
    width: 200px;
}

footer {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}


.name {
    color: white;
    margin-top: 20px;
    text-decoration: none;
    margin-left: 100px;
}
.name:hover {
    color: black;
}


.query-img {
    display: none;
}
@media screen and (max-width: 768px){
    .contenedor{
    display:none
    }
    body {
    background-image: none;
    background-color: #f27050ff;
    
    }

    .query-img {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    }
}
